{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!--TEST VALUES, CHANGE LATER-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel = "stylesheet" type = "text/css" href = "{% static 'click/style.css' %}">
    <title>weesnaw</title>
  </head>
  <body>
    <canvas id="C"></canvas>
    <script asyndc>
        var canvas = document.getElementById("C");
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "#000000";
        ctx.fillRect(0, 0, canvas.clientHeight, canvas.clientWidth);
    </script>
  </body>
</html>
{{ listener_join }}
